.section {
  background-color: var(--surface-2);
  width: 100%;
  padding: 0 5px;
}

.header {
  background-color: #f2f2f2;
  position: relative;
}

.headerRows {
  font-weight: 600;
  background-color: inherit;
}

.headerTitles {
  width: fit-content;
  cursor: pointer;
}

.div {
  background-color: var(--white);
}

.dataInput, .smallLink {
  background-color: inherit;
}

.header, .div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.headerRows, .dataInput, .link {
  width: 14.16%;
}

.headerRows:nth-child(7), .smallLink {
  width: 5%;
  text-align: center;
}

.headerRows:nth-child(8), .link {
  width: 10%;
  font-size: 5px;
  line-height: 16px;
}

.headerRows:nth-child(7) p, .headerRows:nth-child(8) p {
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.headerRows, .dataInput, .smallLink, .link {
  font-size: 10px;  
  padding: 1px 1px;
  padding-right: 0;
  outline: none;
  font-family: inherit;
  color: #000;
  border: none;
  border-bottom: solid 1px var(--border-c);
  border-left: solid 1px var(--border-c);
  height: 18px;
}

.headerRows:first-child, .dataInput:first-child {
  border-left: none;
}

.smallLink, .link {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.smallLink img, .link img {
  display: block;
  width: 15px;
  height: 15px;
}

/* .headerRows::after {
  content: '';
  display: block;
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  border: red 1px solid;
} */

@media (min-width: 576px) {
  .headerRows, .dataInput, .smallLink, .link {
    font-size: 12px;
    padding: var(--side-spacing) var(--side-spacing);
    border: none;
    border-bottom: solid 1px var(--border-c);
    height: 31px;
  }

  .headerRows:nth-child(8), .link {
    font-size: 8px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .headerRows, .dataInput, .smallLink, .link {
    font-size: 14px;
    height: 34px;
  }

  .smallLink img, .link img {
    width: 20px;
    height: 20px;
  }

  .headerRows:nth-child(8), .link {
    font-size: 11px;
    line-height: 23px;
  }
}

@media (min-width: 992px) {
  .headerRows, .dataInput, .smallLink, .link {
    font-size: 16px;
    height: 37px;
  }

  .headerRows:nth-child(8), .link {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) { 
  .header, .div {
    max-width: 1440px;
    margin: 0 auto;
  }

  .headerRows, .dataInput, .smallLink, .link {
    padding: var(--side-spacing) var(--side-spacing-x2);
    padding-right: 0;
    font-size: 16px;
  }

  .headerRows:nth-child(8), .link {
    font-size: 16px;
  }
}
