.main {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--surface-2);
}

.main:nth-child(odd) {
  background-color: var(--surface-1);
}

.section {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.section p {
  /* width: 50%; */
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .section {
    max-width: 1440px;
  }
}
