.spinnerBox {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.section {
  background-color: var(--surface-2);
  width: 100%;
  padding: 0 5px;
}

.title {
  max-width: 1440px;
  margin: 0 auto 10px;
  padding: 10px 0;
  font-size: 16px;
  color: var(--primary);
  text-indent: var(--side-spacing);
}

.header {
  background-color: #f2f2f2;
}

.header input {
  font-weight: 600;
  background-color: inherit;
}

.div {
  background-color: var(--white);
}

.div input, .div a {
  background-color: inherit;
}

.header, .div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header input, .div input {
  width: 13.57%;
}

.header input:nth-child(8), .link {
  width: 5%;
  text-align: center;
}

.header input, .div input, .div a {
  font-size: 10px;  
  padding: 1px 1px;
  padding-right: 0;
  outline: none;
  font-family: inherit;
  color: #000;
  border: none;
  border-bottom: solid 1px var(--border-c);
  border-left: solid 1px var(--border-c);
  height: 18px;
}

.header input:first-child, .div input:first-child {
  border-left: none;
}

.link {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.link img {
  display: block;
  width: 15px;
  height: 15px;
}

@media (min-width: 576px) {
  .title {
    font-size: 20px;
  }

  .header input, .div input, .div a {
    font-size: 12px;
    padding: var(--side-spacing) var(--side-spacing);
    border: none;
    border-bottom: solid 1px var(--border-c);
    height: 31px;
  }
}

@media (min-width: 768px) {
  .title {
    padding: 20px 0;
  }

  .header input, .div input, .div a {
    font-size: 14px;
    height: 34px;
  }

  .link img {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 24px;
  }

  .header input, .div input, .div a {
    font-size: 16px;
    height: 37px;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) { 
  .header, .div {
    max-width: 1440px;
    margin: 0 auto;
  }

  .header input, .div input, .div a {
    padding: var(--side-spacing) var(--side-spacing-x2);
    padding-right: 0;
    font-size: 16px;
  }
}
