.title {
  max-width: 1440px;
  margin: 0 auto 10px;
  padding: 10px 0;
  font-size: 16px;
  color: var(--primary);
  text-indent: var(--side-spacing);
}

@media (min-width: 576px) {
  .title {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .title {
    padding: 20px 0;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1200px) { 

}
