.section {
  height: 2000px;;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .section {
    max-width: 1440px;
    margin: 0 auto;
  }
}
