.wrapper, .nav {
  height: 56px;
}

.wrapper {
  position: sticky;
  width: 100vw;
  top: 0;
  display: block;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 var(--side-spacing-x4);
}

.nav div {
  width: 33%;
}

.barBox {
  color: var(--primary);
}

.logoBox {
  display: flex;
  justify-content: center;
}

.logoBox img {
  max-width: 122px;
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  .wrapper, .nav {
    height: 72px;
  }

  .nav {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav div {
    width: 50%;
  }

  .barBox {
    display: none;
  }

  .logoBox {
    justify-content: flex-start;
  }
}
